<app-navbar></app-navbar>
<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7"
      style="background-image: url('assets/img/header3.jpg');">
    </div>
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="assets/img/now-logo.png" alt="">
        <h1 class="h1-seo">Elegance Era</h1>
        <h3>Découvrez l'élégance nouvelle génération.</h3>
      </div>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>

<!-- <router-outlet></router-outlet> -->
