<app-navbar></app-navbar>
<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7"
      style="background-image: url('assets/img/header3.jpg');">
    </div>
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="assets/img/now-logo.png" alt="">
        <h1 class="h1-seo">Elegance Era</h1>
        <h3>Découvrez l'élégance nouvelle génération.</h3>
      </div>
    </div>
  </div>
  <div class="section section-download" id="#download-section" data-background-color="black">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="text-center col-md-12 col-lg-8">
          <h3 class="title">Avez-vous des recommandations à nous transmettre?</h3>
          <h5 class="description">Veuillez donc remplir le formulaire ci-dessous.</h5>
        </div>
        <div class="text-center col-md-12 col-lg-8">
          <div class="form-group">
            <input type="email" value="" placeholder="Votre email" class="form-control" />
          </div>
          <div class="form-group">
            <textarea class="form-control" name="recommandations" rows="4" cols="80"
              placeholder="Ecrivez-ici votre recommandation..."></textarea>
          </div>
          <button type="button" class="btn btn-primary btn-round">Envoyer</button>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row justify-content-md-center sharing-area text-center">
        <div class="text-center col-md-12 col-lg-8">
          <h3>Merci de nous avoir visité!</h3>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>