<app-navbar></app-navbar>
<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7"
      style="background-image: url('assets/img/header3.jpg');">
    </div>
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="assets/img/now-logo.png" alt="">
        <h1 class="h1-seo">Elegance Era</h1>
        <h3>Découvrez l'élégance nouvelle génération.</h3>
      </div>
    </div>
  </div>
  <div class="section section-download" id="#download-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="text-center col-md-12 col-lg-8">
          <h3 class="title">Voici la liste de vos rendez-vous</h3>
        </div>
        <div class="text-center col-md-12 col-lg-8">

          <form>
            <div class="mb-3 row">
              <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Recherche:</label>
              <div class="col-xs-3 col-sm-auto">
                <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
              </div>
            </div>
          </form>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Service</th>
                <th scope="col">Client</th>
                <th scope="col">Employe</th>
                <th scope="col">Prix</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoading">
              <tr *ngFor="let rdv of rdvList, let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <ngb-highlight [result]="rdv.service.name" [term]="filter.value" />
                </td>
                <td><ngb-highlight [result]="rdv.client.name" [term]="filter.value" /></td>
                <td><ngb-highlight [result]="rdv.employe.name" [term]="filter.value" /></td>
                <td><ngb-highlight [result]="rdv.service.price | number" [term]="filter.value" /></td>
                <td><ngb-highlight [result]="rdv.dateAppointment | date" [term]="filter.value" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
  <app-footer></app-footer>
</div>